@media screen and (max-height: 450px) {
    #nav a {
      font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
  .col1, .col2, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  label {
    float: left;
    padding-left: 0px;
  }
  .col2, #subj-row {
    padding-right: 0px;
  }

}

@media screen and (max-width: 800px) {

  #nav > #logo-dekstop {
    display: none;
    padding: 0px;
  }

  #nav > .home {
    display: none;
  }

  #contact-form {
    width: 80%;
    margin-top: 10%;
  }

  #nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    border-right: 2px solid rgb(202, 202, 202);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
  }

  #nav a {
      text-decoration: none;
      font-size: 25px;
      color: black;  
      display: block;
      transition: 0.3s;
      user-select: none;
  }

  #nav a:not(#closebtn){
      color:rgb(8, 26, 85);
      background-color: white;
      margin-top: 3px;
      margin-right: 10px;
      margin-left: 10px;  
      padding: 12px 8px;
  }

  #nav a:hover:not(#closebtn) {
      background-color: #f8f9fa;
  }

  #nav a.active{
      color: #ffffff !important; 
      background-color: rgb(8, 26, 85) !important;
  }

  #nav #closebtn {
      position: absolute;
      top: 0;
      font-size: 36px;
      margin-top: 25px;
      margin-left: 35px;
      user-select:none;
  }

  #main {
      transition: margin-left .5s;
      padding: 16px;
      text-align: center;
  }

  #first {
      margin-top: 10vh;
  }

  #menu-toggle, #closebtn {
    display: block;
  }

  #menu-toggle {
      position: absolute;
      font-size: 40px;
      text-align: center;
      border:2px solid rgb(8, 26, 85);
      color: white;
      background-color:rgb(8, 26, 85);
      border-radius: 10px;
      margin-left: 25px; 
      margin-top: 25px;
      display: block;
      cursor: pointer;
      width: 50px;
      line-height: 50px;
      user-select: none;
      font-weight: normal;
  }

  #menu-toggle:hover {
    color: rgb(6, 26, 85);
    background-color:white;
  }

  h1 {
    margin-top: 13%;
  }

  #mission {
    width: 300px;
  }

  .member {
    right: 35px;
  }

  #team {
    flex-direction: column;  
    padding-right: 15%;
  }

  .member {
    max-height: 450px;
  }

  .member, .member > img {
    max-height: 300px;
  }

  #logo-mobile {
    display: block;
    width: 200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 801px) {

  #nav {
    justify-content:end;
    border-bottom: 3px solid #ddd;
    background-color: white;
    vertical-align: middle;
    height: 11%;
    display:flex;
    align-items : center;
  }

  .nav-buttons {
    display:flex;
    align-items : center;
    justify-content: center;
    border: 1px solid black;
    width: 80px;
    height: 70px;
    transition-property: all;
    transition-duration: .2s;
    margin-right: 2%;
    text-decoration: none;
    background: #fff;
    color: black;
  }

  h1 {
    margin-top: 10;
  }

  #logo-dekstop, .home {
    left: 0;
    margin: 1.2% 1.2%;
    width: 150px;
    height: auto;
    margin-right: auto;
    display: block;
  }

  .nav-buttons:hover{
    background:#000;
    color: white;
    height: 95px;
    width: 95px;
  }
}

@media screen and (max-width: 1600px) and (min-width: 801px) {
  #contact-form,
  #mission {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .form-container {
    padding-bottom: 5%;
  }

  .member, .member > img {
    max-height: 255px;
  }

  #team, .member, .member-title, .member, .member-desc {
    overflow: hidden;
  }

  #nav {
    height: 15%;
  }
}