/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@200&family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body, html {
  height:100%;
  display:block;
}

body, ::placeholder {
    font-family: 'Raleway', sans-serif;
    background-color: white !important;
    font-weight: bold;
}
body {
  background-color: #009fe1 !important;
  margin: 0;
}


h1 {
    user-select: none;
    margin: 0;
    padding: 3%;
    color: black;
    font-size: 2.5em;
    color: white;
}

body {
    text-align: center;
    background-image: url(../Images/background.png);
    background-position: center;
    background-size: cover;
    height: 100%;
}

#menu-toggle, #closebtn {
    display: none;
}

#logo-mobile {
    display: none;
}

/* CONTACT PAGE CSS */

label {
  text-align: left;
}

form {
    margin-bottom: 50px;
}

#contact-form, #mission {
  margin-top: 2%;
  background-color: rgb(253, 253, 253) !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 25px;
  padding: 20px;
  padding-bottom: 30px;
  width: 40%;
  color: black !important;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid rgb(8, 26, 85) !important;
  border-radius: 4px;
  resize: vertical;
}

label {
  color: rgb(8, 26, 85);
  padding: 12px 12px 12px 15px;
  display: block;
  user-select: none;
  float: left;
}

input[type=submit] {
  background-color: rgb(8, 26, 85);
  margin-top: 10px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-size: 16px;
}

input[type=submit]:hover {
  background-color: rgb(6, 20, 65);
}

.col1 {
  float: left;
  width: 25%;
  margin-top: 6px;
  padding-right: 30px;
}

.col2 {
  float: left;
  width: 75%;
  margin-top: 6px;
  padding-right: 15px;
}

#subj-row {
  padding-right: 15px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* ABOUT US PAGE CSS */

#team, .member, .member-title, .member, .member-desc {
  margin: 0;
  overflow: hidden;
}

#team {
  padding: 4% 15% 3% 15%; 
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.member {
  margin: 40px;
  position: relative;
  max-width: 350px;
  max-height: 350px;
  box-shadow: 0 40px 60px -6px black;
}

.member-title {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #6184a8;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.member, .member > img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
}

.member-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
  overflow: hidden;
}

.member:hover .member-desc {
  opacity: 1;
  height: 100%;
  width: 100%;
}

/* MAP CSS */
path {
  stroke: rgb(7, 7, 7);
  stroke-width: 0.45px;
  fill: #808080;
}
.details {
  top: 0px;
  visibility: hidden;
  width: fit-content;
  padding: 30px;
  height: 100%;
  opacity: 0.4;
  position: absolute;
  background-color: aliceblue;
  font-size: 50px;
}
.popup{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}
.popup.active{
  transform: translate(-50%, -50%) scale(1);
}
.popup-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.popup-header .title{
  font-size: 1.25rem;
  font-weight: bold;
}
.popup-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background-color: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.popup-body{
  padding: 10px 15px;
}
#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}
#overlay.active{
  opacity: 1;
  pointer-events: all;
  
}