@media screen and (max-height: 450px) {
    #nav a {
      font-size: 18px;
    }
}

@media screen and (max-width: 700px) {
  .col1, .col2, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  label {
    float: left;
    padding-left: 0px;
  }
  .col2, #subj-row {
    padding-right: 0px;
  }

}

@media screen and (max-width: 800px) {
  #contact-form {
    width: 80%; 
  }
}

label {
  text-align: left;
}

body {
  margin: 0;
}